{% extends 'main/layout.html' %}
{% block title %}About us{% endblock %}
{% block content %}
<div class="about-opis">
    <h1>Опыт работы:</h1>
    <p>
    <u>Место работы:</u><br> IT OverOne<br>
    <u>Должность:</u><br>Арбитраж трафика, Python разработчик<br>
    <u>Время работы:</u><br> 01.2023-н.в.<br>
    <u>Обязанности:</u><br>
    · Участие в анализе и проработке бизнес задач<br>
    · Командная разработка продукта и нового функционала<br>
    · Решение возникающих технических проблем<br>
    · Написание парсеров различной сложности<br>
    · Сбор, нормализация данных, обработка данных
    </p>

    <p>
    <u>Место работы:</u><br> Freelance<br>
    <u>Должность:</u><br>Арбитраж трафика, Python разработчик<br>
    <u>Время работы:</u><br> 01.2022-н.в.<br>
    <u>Обязанности:</u><br>
    <u>Достижения:</u><br>
    · Настроил положительную работу метрики<br>
    · Увеличил кол-во лидов на 30%<br>
    · Увеличил продажи компании на 20%<br>
    </p>


    <a href="{% url 'contact' %}">
    <button type="button" class="btn btn-outline-success">На страницу контакты</button>
    </a>
</div>
{% endblock %}
