{% extends 'main/layout.html' %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="contact-opis">
    <h1>Контакты</h1>
    <p>
    <a href="https://github.com/A-Kruglik"><i class="fa-brands fa-github"></i> Github</a><br>
    <a href="https://t.me/A_Kruglik"><i class="fa-brands fa-telegram"></i> Telegram</a> <br>
    <i class="fa-sharp fa-regular fa-envelope"></i> aleksandr.v.kruglik@gmail.com
    </p>
    <a href="{% url 'home' %}">
    <button type="button" class="btn btn-outline-warning">На главную</button>
    </a>
</div>
{% endblock %}